@font-face {
    font-family:Geffroy ;
    src: url(GeffroyEleonora-w1LW8.ttf);
}





body{
    margin: 0;
    padding: 0;
    background-color: rgb(24, 23, 23);
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;

}
.picture{
    height: 100vh;
    width: 20vw;
    background-image: url("sea.jpg");
    background-size: cover;
    background-repeat: no-repeat;
   
}

.form{
    height: 100vh;
    width:40vw;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    padding: 15px;


}

.banner{
    text-align: center;
    width: 100%;
    color: white;
    font-family: Geffory;
    font-size: 90px;

}

img{
    height: 55%;
    width: 55%;
    margin: 50px;
}

.wrap{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

label{
    font-size: 17px;
}

input {
    height: 30px;
    border-radius: none;

}

input:invalid{
    border-color: red;
}

button{
    text-align: center;
    padding: 8px;
    height: 60px;
    width: 180px;
}

.contain{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    gap: 10px;
}